$fontFamily: "Roboto", sans-serif;
$fontSize: 10px;
$fontColor: #faf3e0;

$siteBg: #4a3933;

//fractions colors
$frGreen: #00917c;
$frRed: #e45826;
$frPurple: #8f4068;
$frBlue: #1687a7;
$neutral: #bd9354;
