* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "variables";
html {
  font-size: $fontSize;
}

body {
  background: $siteBg;
  font-family: $fontFamily;
  color: $fontColor;
}

@import "elements/account-panel";
@import "elements/admin";
@import "elements/article-tile";
@import "elements/article";
@import "elements/bars";
@import "elements/button";
@import "elements/comment";
@import "elements/fraction-form";
@import "elements/nav";
@import "elements/latest-article";
@import "elements/users-list";
@import "elements/register";

.error {
  color: red;
}

input,
textarea {
  outline: transparent;
  font-family: $fontFamily;
}
