* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "variables";
html {
  font-size: $fontSize;
}

body {
  background: $siteBg;
  font-family: $fontFamily;
  color: $fontColor;
}

@import "elements/account-panel";
@import "elements/article-tile";
@import "elements/bars";
@import "elements/button";
@import "elements/nav";
@import "elements/latest-article";
@import "elements/register";

.error {
  color: red;
}
